<div class="screen">
    <div class="card_locations card_glass" cdkDragBoundary=".screen" cdkDrag>
        <div class="card_title">
            <svg class="icons_move" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            <h2> Localizações </h2>
        </div>

        <div class="size_loop">
            <div *ngFor="let location of locationList, let i = index">
                <div class="store" (click)="goMap(location)">
                    <div class="title">{{ location.title }}</div>         
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="screen_tutorial" id="tutorial"></div> -->

<agm-map 
    [latitude]="lat" 
    [longitude]="lng"  
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false">
    
    <agm-marker *ngFor="let m of locationList; let i = index" 
        [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.icon">
        <agm-info-window>
            <strong>{{m.title}}</strong>

            <div class="options">
                <!-- <button class="btn_ bt_about" mat-button> Sobre </button> -->

                <div *ngIf="!m.tour" 
                    style="text-align: center; font-weight: 500; margin-top: 5px;"> 
                    {{ !m.tour ? 'Em Breve' : '' }} 
                </div>

                <button mat-button class="btn_ bt_virtual" [routerLink]="'/location-map/' + m.id + '/virtual/'"
                    [disabled]="!m.tour" > Tour Virtual </button>

                <button mat-button class="btn_ bt_ra" [routerLink]="'/location-map/' + m.id + '/detection/'"
                    [disabled]="!m.tour" > Realidade Aumentada </button>
            </div>

        </agm-info-window>
    </agm-marker>
</agm-map>