<mat-drawer-container class="menu-lefth" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        
        <div style="background-color: #202427; width: 100%; height: 40px; box-shadow: 0 2px 5px 0 rgb(0,0,0,0.2);"></div>

        <div class="tam-type">
            
            <div class="option" routerLink="/home" (click)="drawer.toggle()"
                [ngClass]="{'select': url == 'home'}">
                <img src="../../assets/image/icon/icon_home.png" class="icon">
                Inicial 
            </div>
            
            <div class="option" routerLink="/location-map" (click)="drawer.toggle()"
                [ngClass]="{'select': url == 'location-map'}">
                <img src="../../assets/image/icon/icons_map.png" class="icon">
                Mapa 
            </div>
            
            <div class="option" [matMenuTriggerFor]="menu">
                <img src="../../assets/image/icon/download.png" class="icon">
                Baixar Qrcode
            </div>

            <div class="option" routerLink="/test-zone">
                <img src="../../assets/image/icon/icon_test.png" class="icon">
                Zona de testes
            </div>

            <mat-menu #menu="matMenu" xPosition="before">
                <div *ngFor="let qrcode of qrcodes">
                    <a style="text-decoration: none; color: white; display: flex; justify-content: flex-start; align-items: center;" href="{{ qrcode.image }}" download> 
                        <button mat-menu-item style="width: 120px; display: flex; justify-content: space-between; align-items: center;">
                            {{ qrcode.name }}
                            <img [src]="qrcode.image" style="width: 30px; height: 30px; object-fit: contain;">
                        </button>
                    </a>
                </div>
            </mat-menu>

        </div>

        <div style="position: absolute; bottom: 15px; left: 10px;">
            versão 1.7
        </div>
    </mat-drawer>
  
    <div class="screen-content">
        <div class="botton-sidenav" (click)="drawer.toggle()" style="z-index: 999;">
            MENU
        </div>

        <div class="name_screen">
            {{ title }}
        </div>

        <div style="width: 100%; height: 100%;">
            <router-outlet></router-outlet>
        </div>
    </div>
  
</mat-drawer-container>