p{
    width: 100%;
    text-align: center;
}

h3, h3{
    padding: 0 10px;
    text-align: center;
}

.options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 888 !important;
    background-color: gray;
}

.carousel{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0 15px;
}

.carousel .card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.card_option{
    width: 90%;
    min-width: max-content;
    height: auto;
    padding: 5px 15px;
    line-height: normal;
    margin: 0 5px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: black;
    border-radius: 50px;
    cursor: pointer;
}

.select{
    transform: scale(1.05);
    font-weight: 500 !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.icon_camera{
    position: absolute;
    top: 60px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* checkbox */

.checkbox {
    margin-right: 5px;
    font-size: 12px !important;
}

:host ::ng-deep .checkbox label {
    display: inline-block;
    margin-bottom: 0 !important;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 0 !important;
}