<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
<script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
<script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>

<!-- a-frame scene -->
<a-scene>
    <!-- <a-light type="directional" position="0 0 0" rotation="-90 -90 0" target="#directionaltarget">
        <a-entity id="directionaltarget" position="0 0 -1"></a-entity>
    </a-light> -->
   
    <a-entity gltf-model="../../assets/modelo3D/MonumentoDedoDeDeus.gltf" scale="1 1 1" position="-2 0 -6"> </a-entity>
    <a-entity gltf-model="../../assets/modelo3D/Poste.gltf" scale="2.2 2.2 2.2" position="-2 0 -2d"> </a-entity>
    <a-entity gltf-model="../../assets/modelo3D/Grades.gltf" scale="0.5 0.5 0.5" position="-20 0 -15"> </a-entity>
    <a-entity gltf-model="../../assets/modelo3D/MonumentoOlimpiadas.gltf" scale="0.7 0.7 0.7" position="-30 0 -10.8"> </a-entity>
    <a-entity gltf-model="../../assets/modelo3D/Poste.gltf" scale="2.2 2.2 2.2" position="-28 0 -7"> </a-entity>

    <a-plane rotation="-90 0 0" width="500" height="500" 
        material="src: assets/image/textura/chão.jpg; color: #696969; repeat: 100 100; metalness: 0" ></a-plane>
        
    <a-sky color="#ECECEC" position='0 0 0' look-controls></a-sky>
    <a-entity camera="active: true" look-controls wasd-controls position="0 2wd 0"></a-entity>
</a-scene>
