.screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    margin: 0 !important;
    height: 100vh;
    background-image: url("../assets/image/1280x720_color-background-blue.jpg");
    background-size: cover;
    background-position: center;
}