/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* --- sidnav --- */
.mat-drawer-side {
    border-right: 0 solid  transparent !important;
}

.a-enter-vr-button{
    top: 75px;
    display: none;
}