<div class="screen">
    <div class="main">
        <div class="div-title design">
            <img src="https://media4.giphy.com/media/XzeRWmW7f5K4kZnrgB/giphy.gif" width="30px">
            <p> Guilherme Santana Rocha </p>
        </div>
    
        <div class="information">
            <div class="div-user">
                <img src="https://avatars.githubusercontent.com/u/65672710?s=460&u=008e378575aea652fbe38cbdecc15d0de11c7080&v=4">
            </div>
            <div class="text design">
                <p> Teresópolis - RJ </p>
                <p> Ciência da Computação - UNIFESO </p>
                <p> guilherme.santana1998@gmail.com </p>
                <p> (21) 99149-8084 </p>
            </div>
        </div>
        
    </div>
</div>