<div class="loading" id="loading">
    <div class="div-img">
        <img src="../../assets/image/dda1q7w-08f7f6f6-5006-4143-8e71-25bc849af286.gif">
        LOADING...
    </div>
</div>

<div class="screen">
    <div class="main">
        <div class="div-title design">
            <img src="https://media4.giphy.com/media/XzeRWmW7f5K4kZnrgB/giphy.gif" width="30px">
            <p> CineBigodee </p>
        </div>
    
       <div style="width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; margin: 15px 0;">

            <div *ngFor="let obj of array_list" class="div-loop">
                <div class="div-movie">
                    <div class="img-poster">
                        <img [src]=" obj.img ">
                    </div>
                    <div class="title-movie">
                        {{ obj.name }}
                    </div>
                </div>
            </div>
       </div>
    
    </div>
</div>