<div class="screen">
    <div class="main">
        <h1> BEM VINDO AO </h1>
        <img src="../../assets/image/logo.png" class="logo">
        <!-- <div class="about">
            Sobre
            <span style="position: absolute; top: 2px; right: 5px;">
                <svg height="35px" viewBox="0 0 24 24" width="35px" fill="#fff"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
            </span>
        </div> -->
    </div>

    <div class="backgroundAnimado">
        <video src="../../assets/Street - 19627.mp4" loop autoplay></video>
    </div>
</div>