<div class="screen">
    <div class="main">
        <div class="div-title design" routerLink="/home">
            <img src="https://media4.giphy.com/media/XzeRWmW7f5K4kZnrgB/giphy.gif" width="30px">
            <p> CineBigodee </p>
        </div>
    
       <div style="width: 100%; display: flex; justify-content: space-around; flex-wrap: wrap; margin: 15px 0;">
        
            <iframe *ngIf="url[1] == 0"
                width="640" 
                height="360"
                 frameborder="0" 
                 src="https://mega.nz/embed/MmI3XIZR#VwgjLdG9pkvJ89ucIvr-etpOj4CDp3EiWXMlIf1ifFs"
                allowfullscreen >
            </iframe>

            <iframe *ngIf="url[1] == 1"
                width="640" 
                height="360" 
                frameborder="0" 
                src="https://mega.nz/embed/A7JQAbyJ#Vb1PS6fsMhxABFQXWRLVpxR7Kv_5GFDy40u7eGycFTw" 
                allowfullscreen >
            </iframe>

            <iframe *ngIf="url[1] == 2"
                width="640" 
                height="360" 
                frameborder="0" 
                src="https://mega.nz/embed/A7JQAbyJ#Vb1PS6fsMhxABFQXWRLVpxR7Kv_5GFDy40u7eGycFTw" 
                allowfullscreen >
            </iframe>

            <iframe *ngIf="url[1] == 3"
                width="640" 
                height="360" 
                frameborder="0" 
                src="https://mega.nz/embed/dnhyDDTb#4RSXAKTGGl8_j8f1TCQAiXHRemLkzgtyb9e1Lo7rAMc" 
                allowfullscreen >
            </iframe>

       </div>
    
    </div>
</div>